/* work sens font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* share style */

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn-primary{
    
}

/* header style */

header {
    background: rgba(255, 144, 14, 0.10);
}

.banner{
    width: 75%;
    max-width: 1440px;
    margin: auto; 
}
.nav-title{
    font-size: 3rem;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: center;
}
nav > ul{
    display: flex;
    font-weight: 700;
    color: #131313;
}
nav > ul > li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}
nav > ul > li > a{
text-decoration: none;
color: #424242 ;

}
.banner-hading-para{
    max-width: 862px;
    margin: auto; 
    text-align: center;
    padding-top: 116px;
}
.banner-title{
    color: #131313;
font-size: 4em;
font-weight: 700;
}
.banner-description{
    color: #727272;
    font-size: 1em;
    font-weight: 400;
}
.btn-primary{

}
